<div class="container py-5">
<div *ngIf="produtoBase" class="row g-4">
        <!-- Imagem Sóbria -->
        <div class="col-md-5">
            <div class="card border rounded-0 p-4 text-center bg-white">
                <img [src]="produtoBase.imagem" [alt]="produtoBase.nome" class="img-fluid"
                    style="max-height: 350px; object-fit: contain;">
            </div>
        </div>

        <!-- Info Principal -->
        <div class="col-md-7">
            <div class="mb-2">
                <span class="badge bg-light text-dark border fw-normal text-uppercase small">{{
                    produtoBase.categoriaId.nome }}</span>
            </div>
            <h1 class="fw-bold mb-3 h3">{{ produtoBase.nome }}</h1>
            <p class="text-muted mb-4 small">Taxa de Iva Aplicável {{ produtoBase.iva }} %</p>
            <p class="text-muted mb-4 small" *ngIf="produtoBase.descricao">{{ produtoBase.descricao }}</p>

            <app-preco-comparacao [produtoBase]="produtoBase"></app-preco-comparacao>
        </div>
    </div>
