<div class="login-container">
  <div class="card login-card">
    <h2 class="text-center mb-4">Entrar</h2>
    
    <form>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="username" [(ngModel)]="username" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Palavra-passe</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
      </div>

      <button type="button" class="btn btn-primary w-100 mb-3" (click)="login()">Entrar</button>
      
      <div class="text-center">
        <span class="text-secondary small">Ainda não tem conta?</span><br>
        <a routerLink="/register" class="small">Registe-se aqui</a>
      </div>
    </form>
  </div>
</div>
