<div class="auth-container">
  <div class="auth-card">
    <h3 class="auth-title">Iniciar Sessão</h3>
    
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="username" class="form-control" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="password" required>
      </div>
      
      <button type="submit" class="btn-submit">
        Entrar
      </button>
    </form>
    
    <p class="auth-footer">
      Ainda não tem conta? <a (click)="register()" style="cursor: pointer;">Registe-se aqui</a>
    </p>
  </div>
</div>
